.button {
    display: inline-block;
    border: none;
    font-size: 14px;
    font-weight: 600;
    min-width: 164px;
    padding: 21px 47px;
    border-radius: 50px;
    text-transform: uppercase;
    background: var(--secondary-color);
    color: #161616;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: font-size 0.5s linear;
    margin-bottom: 50px;
}

.button:disabled {
    cursor: no-drop;
}

.button:hover {
    font-size: 18px;
}