.main__header {
    text-align: center;
    padding: 0 20%;
    border-bottom: 2px solid var(--secondary-color);
}

.main__title {
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 15px;
}

.main__text {
    font-size: 20px;
    margin-bottom: 35px;
    color: azure;
}

.main__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cards {
    gap: 50px;
    padding: 30px;
}